<!DOCTYPE html>
<html>
  <head>
    <title>Olioex</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= action_cable_meta_tag %>

    <!-- I should put this in the pipeline if I geta chance -->
    <script src="https://kit.fontawesome.com/cb81c48444.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="page">
      <div class="header">
        <%= render "layouts/header" %>
      </div>
      <div class="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
